$name-font-size: 36px;
$primary-header-font-size: 28px;
$normal-text-font-size: 16px;
$small-script-font-size: 12px;

$name-font-weight: 700;
$primary-header-font-weight: 600;
$normal-text-font-weight: 400;
$small-script-font-size: 400;

$selected-font-family: "Open Sans", sans-serif;

$card-background-single-color: rgb(61,177,205); 
$card-background-gradient-color: linear-gradient(180deg, rgba(17,72,85,1) 0%,
                                                         rgba(61,177,205,1) 50%,
                                                         rgba(65,187,217,1) 100%);
$body-background-single-color: rgb(12,24,33);
$body-background-gradient-color: radial-gradient(circle, rgba(12,24,33,1) 0%, rgba(51,49,53,1) 100%);

$primary-color-dark: rgb(17,72,85); 
$primary-color-light: #48ACF0; ;

$text-color-light: #FFF2E2;
$text-color-dark: #1a1a1a;

$accent-color: rgb(90, 153, 112);